@charset "utf-8";
/* CSS Document */

body {
	
  font-size: 13.5px;
  line-height: 1.2em;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica,
    Arial, sans-serif;
  
}




div {
	margin: auto;
  	box-sizing: border-box;
 	
	min-width: 640px;
	display: flex;
	justify-content: center;
	
}



div p {
  text-align: left;
}







.container {
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;

	
	
}



.breaker {
  display: none;
}
.breaker:nth-child(3n) {
  display: block;
  width: 100%;
  height: 0;
}




.cell {
  display: flex;

	justify-content: center;
  
  
  border: 1px solid blue;
  
	vertical-align: top;
	
	flex-direction: row;

}



.data {
		max-width: 75%;
  min-width: 500px;
  text-align: left;
  align-content: flex-start;
	
  border: 1px solid green;
  
	flex-wrap: wrap;	
	
  flex: 1;
	flex-grow: 1;
  vertical-align: top;
  
  
	
  padding: 0px 0px 20px 0px;
  box-shadow: 0 1.5px 1.5em #867453;
	background-image: url("../../images/bg-testt.png");
}













.pic {
  
  justify-content: middle;
  flex-grow:2 ;
  border: 1px solid green;
  text-align: left;
	margin: 10px;
	min-width: 200px;
	max-width: 300;
	flex: none;
}








.npc-heading h1{
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color: #922610;
  font-size: 23px;
  line-height: 1.2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
}


.npc-heading h2{
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0 0 10px;
}


.abilities{
  text-align: center;
  color: #922610;
}
.abilities > div{
  display: inline-block;
  vertical-align: middle;
  width: 15.5%;
  min-width: 40px; 
  font-size: 16px;
  line-height: 1em;
}
.abilities h4{
  margin: 12px 0 2px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #7A200D;
}
.abilities p{
  margin: 0 0 10px;
  line-height: 1.2em;
}



.property-line h4,
.property-line p{
  display: inline;
  margin: 0;
  color: #922610;
  font-size: 13.5px;
  line-height: 1.2em;
}
.property-line h4{
  color: #7A200D;
}
.property-line{
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em;
}
.property-line.first{
  margin: 0px 0 0
}
.property-line.last{
  margin: 0 0 10px;
}








.stat-block.wide{
  width: 46.5%;
  min-width: 560px;
  text-align: left;
	padding: 0 0 0 10px;
	
}

.stat-block.single{
	display: inline-block;
  vertical-align: top;
	width: 99%;
  text-align: left;
	
}
.stat-block.wide .section-left,
.stat-block.wide .section-right{
  display: inline-block;
  vertical-align: top;
  width: 48%;
  text-align: left;
}
.stat-block.wide .section-left{
  margin-right: 1.5%;
}
.stat-block.wide .section-right{
  margin-left: 1.5%;
}



.tapered-rule{
  display: block;
  width: 100%;
  height: 5px;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610;
}


.npc-heading h1{
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color: #922610;
  font-size: 23px;
  line-height: 1.2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
}


.steel-border{
  display: block;
  background-image: url("../../images/steel.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5px;
  padding: 0 10px 0;
  margin: 0 0 0;
  box-sizing: initial;
}



.tapered-rule{
  display: block;
  width: 100%;
  height: 5px;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610;
}




@media only screen and (max-width: 640px) {
  
  #cellpic {
    flex-direction: column;
    position:relative;
	 
    height: 100px;
  }
  
  
  
  .container { 
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
  }
  
  .cell { 
    flex: 100%; 
  }
}



@media only screen and (min-width: 640px) and (max-width: 2900px) {
  .container {
    position: relative;
  }
  
#data {
    
    right: 10px;
    position: relative;
    max-width: auto;
    height: calc(100% - 20px);
  }	
	
	
  #cellpic { 
	flex-direction: row-reverse;
    flex: 0 0 66%; 
  }
  
  
  .cell { 
    flex: 100%; 
  }
  
  
  
}
