/* TODO I just nabbed my stylesheet from nihilistweekly.
   TODO Most of these styles are useless to vibrantgames and should be
   TODO removed.  All of the ones left behind should be made to
   TODO suit out style. */

.column {
    float: left;
    width: 45%;
    margin-left: 1em;
    margin-right: 1em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.nihilist_weekly {
    font-size: 30pt;
    font-style: italic;
    text-align: center;
    width: 100%;
}

.issue_number {
    font-size: 48pt;
    font-weight: bold
    text-align: left;
    width: 100%;
}

hr.section_divider {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 10px;
}

.section_title {
    font-size: 48pt;
    font-weight: bold;
    text-align: center;
}

.photo_link {
}

.photo {
    padding: 0px;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 100%;
}

.photo_caption {
    font-size: 14pt;
    margin-top: 1em;
    text-align: left;
    width: 100%;
}

.article_title {
    font-size: 32pt;
    font-weight: bold;
    margin-top: 1em;
    text-align: left;
}

.article_subtitle {
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
}

.article_credit {
    font-size: 14pt;
}

.correction {
    font-size: 12pt;
    font-style: italic;
}

.footnote {
    font-size: 12pt;
    font-style: italic;
}

.biography {
    font-size: 12pt;
    font-style: italic;
}

.paragraph {
    font-size: 14pt;
}

.no_paragraph {
    font-size: 14pt;
}

.paragraph_quotation {
    font-size: 14pt;
    margin-left: 2em;
    margin-right: 2em;
}

.continued {
    font-size: 12pt;
    font-style: italic;
}

.list {
    font-size: 14pt;
}

.list_item {
    font-size: 14pt;
}

.letter {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
}

hr.letter_divider {
    border: 1px dotted;
    text-align: center;
    width: 80%;
}

.whether {
    margin-top: 4em;
    padding: 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
}

hr.article_divider {
    border: 1px dotted;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    width: 80%;
}

.dialogue {
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.5em;
}

.dialogue_character {
    font-family: fixed;
    font-weight: bold;
}

.poem {
    font-family: monospace;
    font-size: 16;
    white-space: pre;
}

.quotation {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
}

.sports_stats_column_1 {
    float: left;
    font-size: 8pt;
    width: 30%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: left;
}

.sports_stats_column_2 {
    float: left;
    font-size: 8pt;
    width: 8%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.sports_stats_column_3 {
    float: left;
    font-size: 8pt;
    width: 8%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.sports_stats_column_4 {
    float: left;
    font-size: 8pt;
    width: 8%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.sports_stats_column_5 {
    float: left;
    font-size: 8pt;
    width: 8%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.sports_stats_column_6 {
    float: left;
    font-size: 8pt;
    width: 8%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.sports_stats_column_7 {
    float: left;
    font-size: 8pt;
    width: 8%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.sports_stats_title {
    font-weight: bold;
}
/* Clear floats after the columns */
.sports_stats_title:after {
    content: "";
    display: table;
    clear: both;
}

/* Clear floats after the columns */
.sports_stats_row:after {
    content: "";
    display: table;
    clear: both;
}

.nwa_link {
}

.nwa {
    margin: 2em;
    padding: 1em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
}

.nwa_image {
    padding: 0px;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 100%;
}

.nwa_caption {
    font-size: 14pt;
    margin-top: 1em;
    text-align: left;
    width: 100%;
}

.event {
    margin-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    white-space: pre;
}

.classified {
    margin-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    white-space: pre;
}

.large {
    font-size: 18pt;
}

.small {
    font-size: 12pt;
}

.black_background {
    background-color: black;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
}

.bold_italic {
    font-style: italic;
    font-weight: bold;
}

.reference {
    font-style: italic;
}

.math {
    font-family: fixed;
    font-style: italic;
}

.emphasis {
    font-style: italic;
}

.field_name {
    font-weight: bold;
}

.field_value {
}

.portrait {
    padding: 0px;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    /* 2500 x 3235 */
    width: 100%;
}

.profile {
}
