@charset "utf-8";
/* CSS Document */

body {
	margin: 0 !important;
    padding: 0 !important;
  font-size: 15.5px;
  line-height: 1.2em;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Roboto,Helvetica,sans-serif;
	text-align: left;
  
}



.banner.bottom {
	background-color:aqua;
	height: 2px;
	width: 100%;
}

.banner {
	display: block;
margin-left: auto;
margin-right: auto;
	background-color: black;
	height: 73px;
	width: 100%;
	
	text-align: left;
 }

.logo {
	text-align: left;
	
}


p {
margin-bottom: 30px;	
	
}

div {
	flex-basis:auto;
	flex-grow:1;
	margin: auto;
  	box-sizing: border-box;
 	width:auto;
	display: flex;
	justify-content: center;
	
}




.divider{
	
	display: inline-block;
	  background-color:maroon;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
	border: 0;
  height: 3px;
  padding: 0 0 0 0;
  margin: 15 0 15 2;
  box-sizing: initial;
	width:95%;
	
   
    position: relative;
    z-index: 1;
			
}


.divider-ability{
	
	display: inline-block;
	  background-color:maroon;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
	border: 0;
  height: 2px;
  padding: 0 0 0 0;
  margin: 2 0 0 0;
  box-sizing: initial;
	width:95%;
	
			
}



.container {
    margin: 0 auto;
	padding: 0px 0px 60px 0px;

}


.container2 {
  margin: 0 auto;
  padding: 0px 0px 60px 0px;
	
}




.cell {
  
	display: flex;

	align-content:center;
	align-items:center;
  
	flex-basis: auto;
	flex-grow:1;
	
	flex-wrap: nowrap;
	flex-direction: row;
	

}

.cell6 {
  
	display: flex;

	align-content:center;
	align-items:center;
  
	flex-basis: auto;
	flex-grow:1;
	
	flex-wrap: nowrap;
	flex-direction: row;
	

}



.data {
	
	display: flex;
	flex-grow: 1;
    flex-basis: 0;
	max-width: 900px;
	min-width: 600px;
	flex-wrap: wrap;
	
	flex-direction: column;
	vertical-align: top;
	padding: 0px 0px 10px 20px;
	background-image: url();
	
}

.data2 {
	
	display: flex;
	flex-grow: 1;
    flex-basis: 0;
	max-width: 1240px;
	min-width: 200px;
	flex-wrap: wrap;
	
	flex-direction: column;
	vertical-align: top;
	padding: 0px 0px 10px 20px;
	background-image: url();
	
}


.data3 {
	
	display: flex;
	flex-grow: 1;
    flex-basis: 0;
	max-width: 1200px;
	min-width: 600px;
	flex-wrap: wrap;
	
	flex-direction: column;
	vertical-align: top;
	padding: 0px 0px 10px 0px;
	background-image: url();
	
}




.tapered-rule{
  display: inline-block;
  width: 100%;
  height: 4px;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610;
}

.path2 {
  stroke-dasharray: 1120;
/*   stroke-dashoffset: 800; */
  animation: draw1 1s linear alternate;
}

@keyframes draw1 {
  from {
    stroke-dashoffset: 1120;
  }
  to {
    stroke-dashoffset: 2240;
  }
}







.pic {
  
	display: flex;  
	flex-basis: auto;
	flex-grow: 1;
	justify-content: center;
	
	
}

.picright {
    padding-top: 70px; 
	display: flex;  
	flex-basis: auto;
	flex-grow: 1;
	justify-content: center;
	
	
}

.npc-heading{
	
	min-width: 200px;
	display: inline-block;
	flex-grow: 1;
	margin: 0 15px 15px 10px;

}



.npc-heading h1{
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color:maroon;
  font-size: 23px;
  line-height: 1.8em;
  margin: 0 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
	max-width: 620px;
	min-width: 200px;
}




.npc-heading h2{
  text-transform: capitalize;
	font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 1.2em;
  margin: 10px 0 20px 0px;
	
	color: indigo;

}


.abilities > span{
  display: inline-block;
	text-align: center;
  vertical-align: middle;
  width: 15.5%;
  min-width: 40px; 
  font-size: 16px;
  line-height: 1em;
}

.abilities p{
	text-align: center;
  margin: 0 0 10px 0;
  line-height: 200%;
	font-weight: bold;
	font-size: 18px;
	color: midnightblue;
}


.ability {
	
	margin-left:0 auto;
    position:relative;
	
	display: block;
}

.abilities h4{
  margin: 12px 0 2px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color:indigo;
}
.abilities p{
	
  margin: 0 0 10px 0;
  line-height: 1.2em;
}





.ability-item {
	
	text-align: left;
	text-indent: 10px;
	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
	width: 100%;
}


.ability-item p{
	
	text-align: left;
	margin: 0px 0px 10px 20px;
	text-indent: 10px;
	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
	width: 100%;
}


.factions-item {

	
	text-align: left;
	text-indent: 30px;
	margin: 0px 0px 30px 30px;
	padding-bottom: 30px;

}

.factions-item p {
	
	text-indent: 30px;
}

.top-property-line{
	display: inline-block;
	text-align: left;
	
	width: 90%;
	font-weight: normal;
	color: indigo;
  padding: 	0px 10px 0px 15px;
  line-height: 1.4em;
	
}



.top-property-line h4,
.top-property-line p{
  display: inline-block;
  margin: 0px 0px 0px 2px;
  font-size: 15.5px;
  line-height: 150%;
	color: indigo;
}

.top-property-line p {
	
	  text-indent: 4px;
}

.top-property-line h4{
  color:indigo;
}


.top-property-line h3 {
	
	display: inline-block;
  margin: 10px 0px 0px 10px;
  font-size: 15.5px;
  line-height: 150%;
	color: indigo;
	
}

.top-property-line{
  font-weight: normal;

  padding: 0 0 0 10px;
  line-height: 150%;
}

.top-property-line.first{
  margin: 10px 0px 0px 0px;
}



.top-property-line.last{
 margin: 30px 0px 10px 0px;
}
.top-property-line li{
	
	margin-left: 0px;
	text-indent: -30px;
	
}











.property-line{
	display: inline-block;
	text-align: left;
	
	width: 90%;
	font-weight: normal;
	color: indigo;
  padding: 	0px 20px 0px 15px;
  line-height: 1.4em;
	
	
}



.property-line h4,
.property-line p{
  display: inline-block;
  margin: 0px 0px 0px 15px;
  font-size: 15.5px;
  line-height: 150%;
  color: indigo;
  text-indent: 0px;	
}

.property-line h4{
  color:indigo;
}


.property-line h3 {
	
	display: inline-block;
  margin: 10px 0px 0px 10px;
  font-size: 19px;
  line-height: 150%;
	color: indigo;
	
}

.property-line{
  font-weight: normal;

  padding: 0 0 0 10px;
  line-height: 150%;
}

.property-line.first{
  margin: 10px 0px 0px 0px;
}



.property-line.last{
 margin: 30px 0px 10px 0px;
}
.property-line li{
	
	margin-left: 0px;
	text-indent: -30px;
	
}



.property-line.bg{
   font-weight: normal;
	display: inline-block;
	vertical-align:top;
  margin: 10px 20px 30px 20px;
	text-indent: 0px;
  
	line-height: 200%;
	width: 90%;
}

.property-line.bg p{
	text-align: justify;
	text-indent: 30px;
	line-height: 150%;
	font-size: 15.5px;
  max-width: 100%;
  font-family: Roboto,Helvetica,sans-serif;
	
}



.property-line.factions{
  line-height: 200%;
}


.bg-links {

	color: crimson;
}

.right-line{
	
	display: inline-block;
	text-align: justify;
	min-width: 100px;
	max-width: 450px;
	
	font-weight: normal;
	color: indigo;
	text-indent: 0px;
  padding: 	10px 0px 0px 15px;
  line-height: 1.4em;
	margin-left: 60px;
}

table, th, td {
  ;
}

.right-line h4,
.right-line p{
  display: inline-block;
  margin: 0 0 0 0px;
  
  font-size: 15.5px;
  line-height: 150%;
	color: indigo;
	text-indent: 0px;
	
}

.right-line-columns{
	
	display: inline-block;
	text-align: justify;
	column-count: 2;
	column-gap: 60px;
	min-width: 1100px;
	max-width: 1800px;
	
	font-weight: normal;
	color: indigo;
	text-indent: 0px;
	margin: 10px 10px 10px 25px;
  padding: 	0px 20px 0px 0px;
  line-height: 1.4em;
	
}

.right-line-columns h3 {
	
	display: inline-block;
  margin: 0px 0px 0px 0px;
  font-size: 16px;
  line-height: 100%;
	color: indigo;
}

.right-line-columns h4 {
  margin: 0px 0px 5px 0px;

	font-size: 20px;
	color: indigo;
}


.right-line-columns p1 {
  margin: 0px 0px 5px 0px;
	font-size: 16px;
	color: indigo;
}

.right-line-columns h2 {
  margin: 0px 0px 20px 0px;
  line-height: 1.2em;
	
  padding-bottom: 10px;
	font-size: 16px;
	color: indigo;
}

.right-line h3 {
	
	display: inline-block;
  margin: 0px 0px 0px 0px;
  font-size: 16px;
  line-height: 100%;
	color: indigo;
}

.right-line li {
	
	margin-left: 0px;
	text-indent: -30px;
	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
	width: 100%;
	
}
.right-line h4{
  color:indigo;

}

.right-line.first{
  margin: 60px 0px 0px 60px;
}
.right-line.last{
  margin: 0px 0px 10px 0px;
	padding: 0px 0px 20px 0px
}






.stat-block.wide{
  display: inline-block;
	flex-direction: column;
	
	flex-wrap: wrap;
	width: 46.5%;
  
  text-align: left;
	padding: 0 0 0 10px;
	
}

.stat-block.single{
	display: inline-block;
  vertical-align: top;
	width: 100%;
  text-align: left;
	margin: 0px 0px 0px 30px;
	
}

.stat-block.wide .section-left,
.stat-block.wide .section-right{
  
  vertical-align: top;
  width: 48%;
  text-align: left;
	display: inline-flex;
	
	
}
.stat-block.wide .section-left {
  margin-right: 1.5%;
	flex-grow: 1;
}
.stat-block.wide .section-right{
  margin-left: 1.5%;
}




.npc-heading {
	
	flex-grow: 1;
	display: inline-block;
	
	min-width: 250px;
	margin: 10px 0px 0px 15px;
	
}

.npc-heading h1{
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color:indigo;
  font-size: 32px;
  line-height: 1.2em;
  margin: 0px 0px 0px 0px;
  letter-spacing: 0px;
  font-variant: small-caps;
  font-weight: bold;
}


.npc-heading-middle {
	
	flex-grow: 1;
	display: inline-block;
	
	min-width: 250px;
	margin: 10px 0px 0px 75px;
	
}

.npc-heading-middle h1{
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color:indigo;
  font-size: 32px;
  line-height: 1.2em;
  margin: 0px 0px 0px 75px;
  letter-spacing: 0px;
  font-variant: small-caps;
  font-weight: bold;
}


.glow {
  font-size: 32px;
  color:indigo;
  text-align: left;
  animation: glow 1s ease-in-out infinite alternate;
}



#needtowrap {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
	width: 100%;
}
#needtowrap p {
  margin: 0;
}
#needtowrap p + p {
  text-indent: 1em;
}




.steel-border{
  display: flex;
  background-image:url("images/steel.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5px;
  padding: 0 10px 0;
  margin: 0 0 0;
  box-sizing: initial;
}






@media only screen and (min-width: 0) and (max-width: 1200px) {
  .container {
	  flex-direction: column;
	  position: relative;
	
  }
  
	.container2 {
		
		flex-direction: column;
		position:relative;
	}
	
	#cell1{
		display: none;
	}	
	
  #cell2 {
    flex-direction: column;
    position: relative;
	  padding-bottom: 20px;
   
	  
  }
  
 
	#cell3 {
    
		
	flex-direction: column;
    position: relative;
  
	}
	
	#cell4 {
		
		display:flex;
	}
	
	#cell5 {
		display: none;
	}
	
	#cell6 {
		display: none;
	}
	
	#bgcell{
		display: flex;
		flex-direction: column;
    	position: relative;
		width: 90%;
		
	}
  
  
  	.cell { 
   	 flex: 100%; 
  	}
}




@media only screen and (min-width: 1200px) and (max-width: 5000px) {
  .container {
	  flex-direction: column;
    position: relative;
	  flex-wrap:nowrap;
	  align-content: center;
	  justify-content: center;
  }
  
	.container2 {

	flex-direction: column;
    position: relative;
  }
  
  
  #cell1 {
    flex-direction: row;
    
    position: relative;
     
    align-content: center;
	align-items: flex-start;
	  padding-left: 60px;
  }
  
	#cell2 {
		display: none;
	}	
	
#cell3 {
    display: none;
    
  }
	
	#cell4 {
		
		display:none;
	}
	
}

#cell5 {
	
	 flex-direction: row;
    
    position: relative;
     
    align-content: flex-start;
	align-items: flex-start;
	
	padding-left: 60px;
	padding-right: 20px;
  }

#cell6 {
	
	 flex-direction: row;
    
    position: relative;
     
    align-content: flex-start;
	align-items: flex-start;
	padding-bottom: 60px;
    
	padding-right: 240px;
	padding-left: 60px;
	
	

}
#cell6 p {
  margin: 0;
}
#cell6 p + p {
  text-indent: 0;  

}

#bgcell{
	
	display: flex;
	
	flex-direction: row;
    
    position: relative;
     width: 1200px;
    align-content: center;
	align-items: flex-start;
	  padding-left: 60px;
		
	}
